body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eaf1ff;
  display: flex;
  height: 100vh;
}

/* PANEL LATERAL */
.sidebar {
  width: 220px;
  background: white;
  box-shadow: 3px 0 15px rgba(0,0,0,0.1);
  padding: 20px;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #6aa0ff;
  margin-bottom: 10px;
}

.side-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  background: #6aa0ff;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.side-btn:hover {
  background: #4d83e6;
}

/* MAPA */
.map-container {
  flex: 1;
  position: relative;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PINES */
.pin {
  width: 20px;
  height: 20px;
  background: red;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* FORMULARIO */
.form-box {
  position: absolute;
  right: 30px;
  top: 30px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  width: 280px;
}

.hidden { display: none; }

form-box input,
form-box textarea {
  width: 100%;
}
